{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{% set form = element %}
<form{{ attributes.addClass('search-form', 'form-row') }}>
  {{ form.actions }} {{ form.keys }}
</form>
